<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>不规则截图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29484A051F945F5A00183311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29484A1E1F945F5B00183311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29484A291F945F5B00183311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
